<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-sdk android:minSdkVersion="19"/>
    <application>
        <meta-data
                android:name="com.google.android.gms.ads.APPLICATION_ID"
                android:value="#{AdMobAndroidAppId}"/>
        <!-- Delay app measurement until MobileAds.initialize() is called. -->
        <meta-data
                android:name="com.google.android.gms.ads.DELAY_APP_MEASUREMENT_INIT"
                android:value="true"/>
    </application>
</manifest>